<!doctype html>
<html>
<head>
	<title>{{title}}</title>
	<link rel="stylesheet" href="{{assets}}/css/style.css">
</head>
<body>
{{>headerpatternlib}}
<div id="main" class="grid grid_pad">
	<div class="col_1-1">
		{{>body}}
	</div>
</div>
</body>
</html>
