---
title: Forms
---

<h1>Forms</h1>

<p>Sed turpis mauris, euismod sed iaculis in, fermentum id arcu. Donec sit amet ante vitae leo viverra suscipit. Phasellus non convallis nisl, id pretium purus. Vivamus in accumsan elit. Nulla quam arcu, vestibulum ut feugiat vel, consectetur ac massa.</p>

<h2>General form</h2>

<h3>Example</h3>
{{>form}}

<h3>Code</h3>
{{#markdown}}
```xml
{{>form}}
```
{{/markdown}}


<h2>Login</h2>

<h3>Example</h3>
{{>formlogin}}

<h3>Code</h3>
{{#markdown}}
```xml
{{>formlogin}}
```
{{/markdown}}

