---
title: Home
---
{{#parseJSON '{"heading": "Welcome to Example UI", "description": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam bibendum pellentesque justo nec interdum. Nam porttitor commodo libero et dictum.", "color": "primary"}' }}
{{>megapanel}}
{{/parseJSON}}

<section class="txt-center">
	<h2>Features</h2>
	<p>Here's just some of the reasons you'll love Example UI</p>
	<div class="grid">
		<div class="col_1-3">
			<img src="images/awesome-1.jpg" alt="Photograph of a dog pointing at you" />
			<h3>Resuable</h3>
			<p>Sed turpis mauris, euismod sed iaculis in, fermentum id arcu.</p>
		</div>
		<div class="col_1-3">
			<img src="images/awesome-2.jpg" alt="Photograph of a tree" />
			<h3>Extendable</h3>
			<p>Phasellus non convallis nisl, id pretium purus.</p>
		</div>
		<div class="col_1-3">
			<img src="images/awesome-3.jpg" alt="Photograph of a tree" />
			<h3>Compact</h3>
			<p>Ut malesuada auctor lacus, hendrerit iaculis lectus. In condimentum ipsum scelerisque.</p>
		</div>
	</div>
</section>



