---
title: Typography
---
<h1>Typography</h1>
<p>Sed turpis mauris, euismod sed iaculis in, fermentum id arcu. Donec sit amet ante vitae leo viverra suscipit. Phasellus non convallis nisl, id pretium purus. Vivamus in accumsan elit. Nulla quam arcu, vestibulum ut feugiat vel, consectetur ac massa. Aenean non tortor magna. Ut malesuada auctor lacus, hendrerit iaculis lectus. In condimentum ipsum scelerisque, egestas lorem et, venenatis tortor. Etiam ut enim tortor. Suspendisse sed consequat elit. Mauris aliquet vel sem id varius.</p>

<h1>h1. The quick brown fox jumps over the lazy dog</h1>
<h2>h2. The quick brown fox jumps over the lazy dog</h2>
<h3>h3. The quick brown fox jumps over the lazy dog</h3>
<h4>h3. The quick brown fox jumps over the lazy dog</h4>
<h5>h3. The quick brown fox jumps over the lazy dog</h5>
<h6>h3. The quick brown fox jumps over the lazy dog</h6>
<p>
  p. The <a href="#">wizard</a> <strong>quickly jinxed</strong> the <em>gnomes</em> before they <small>vaporized</small>. All questions asked by five watched experts amaze the judge. Grumpy wizards make toxic brew for the evil queen and Jack. <a href="tel:0123456789">0123456789</a>. A quick movement of the enemy will jeopardize six gunboats. Back in June we delivered oxygen equipment of the same size. Just poets wax boldly as kings and queens march over fuzz. <abbr title="attribute">attr</abbr></p>
<ul>
  <li>List item with a much longer description or more content.</li>
  <li>List item</li>
  <li>List item
    <ul>
      <li>Nested List Item</li>
      <li>Nested List Item</li>
      <li>Nested List Item</li>
    </ul>
  </li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
 </ul>

<ol>
  <li>List item with a much longer description or more content.</li>
  <li>List item</li>
  <li>List item
    <ol>
      <li>Nested List Item</li>
      <li>Nested List Item</li>
      <li>Nested List Item</li>
    </ol>
  </li>
  <li>List item</li>
  <li>List item</li>
  <li>List item</li>
 </ol>

<dl>
  <dt>dt. Fix problem quickly with galvanized jets.</dt>
  <dd>dd. When zombies arrive, quickly fax judge Pat. Heavy boxes perform quick waltzes and jigs. A wizard's job is to vex chumps quickly in fog.</dd>
</dl>

<blockquote>blockquote. My faxed joke won a pager in the cable TV quiz show. <cite>cite. John Snow</cite></blockquote>
